*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

section{
 background-color: white;  
 width: 330px;
 text-align: left;
 margin-top: 50px;
 border-radius: 5px;
 padding: 20px;
 background-color: #efefef;
 box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

input{
    margin-bottom:10px;
    width: 200px;
}

#idBusqueda{
    margin-left: 25px;
    margin-right: 25px;
    width: 60px;
}

#inpNombre{
    margin-left: 50px;
}
#inpUsername{
    margin-left: 5px;
}

#inpEmail{
    margin-left: 65px;
}

#inpDomCal{
    margin-left: 45px;
}

#inpDomNum{
    margin-left: 105px;
}

#inpDomCiu{
    margin-left: 105px;
}

button{
    background-color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
}

button:hover{
    background-color: #efefefba;
}