*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


h3{
    text-align: center;
    font-size: 20px;
}

section{
 background-color: white;  
 width: 450px;
 text-align: left;
 margin-top: 50px;
 padding: 20px;
 background-color: #efefef;
 border-radius: 5px;
 box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

input{
    margin-bottom:10px;
    width: 200px;
}

#inpNombrePais{
    margin-left: 25px;
    margin-right: 25px;
}

#inpCap{
    margin-left: 25px;
    width: 300px;
}

#inpLen{
    margin-left: 10px;
    width: 300px;
}

button{
    background-color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
}

button:hover{
    background-color: #efefefba;
}